*
{
    background-color: #c5c5c5;
    font-family: Arial, Helvetica, sans-serif;
}
#head
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#808080;
    margin: 0%;
}
.intro
{
    color: blue;
    font-size: small;
}
#gif
{
    border: 3px solid blue;
    margin: 0;
    padding: 0;
    border-radius: 12px;
    transform: scalex(1.2);
    filter: brightness(120%);
    width: 30%;
    height:auto;
}
#figure1
{
    font-size: xx-small;
}
h1
{
    text-align:center;
    animation: h1-blink 1s infinite;
}
@keyframes h1-blink
{
    0%
    {
        color: rgb(255, 0, 0);
    }    
    33%
    {
        color: rgb(0, 255, 0);
    }
    67%
    {
        color: rgb(0, 0, 255);
    }
}
h2:hover
{
    color: red;
    font: 3em;
}
.text
{
    display: flex;
    flex-direction: row;
}

#sum
{
    margin-right: 50%;
    font-size: large;
}

#text-100
{
    font-size: small;
    margin-right: 20%;
    color: darkblue;
}

#text-250
{
    font-size: small;
    margin-right: 20%;
    color: lightslategray;
}
#text-158
{
    font-size: small;
    margin-right: 20%;
    color: aqua;
}
#text-151A
{
    font-size: small;
    margin-right: 20%;
    color: beige;
}
#text-150B
{
    font-size: small;
    margin-right: 20%;
    color: coral;
}

#self-image
{
    background-color: aqua;
    border-radius: 50%;
    max-width: 300rem;
    width: 100%;
    height: auto;
    filter: contrast(110%);
}
#annotation
{
    color: red !important;
    font-size: xx-large !important;
}
#text2
{
    font-size: xx-small;
    color: #808080;
}
#figure2
{
    float: right;
    text-align: center;
}

textarea
{
    width: 80%;
}
#submit:hover
{
    cursor: pointer;
}

#button::before
{
    content:'all right you won,';
    color: rgb(255, 225, 0) !important;
}
#button
{
    text-align: center;
    display: none;
}

#button:target
{
    display: block;
}
#button::after
{
    content: "";
    background-image: url('/images/emoji.png');
    display: inline-block;
    background-size: 100% 100%;
    border-radius: 50%;
    height: 16px;
    width: 16px;
}
#meme:hover
{
    font-size: 200%;
    color:red;
}
footer
{
    text-align: center;
    font-size: xx-small;
    color: #808080;
}

button
{
    border-radius: 15%;
}

button:hover
{
    cursor: pointer;
}

a:hover
{
    cursor: pointer;
    color:orange;
    font-size: large;

}





